/*----- FOOTER -----*/
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
  color: white;
  font-size: 0.7rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.logo-footer,
.quick-links-text-footer,
.follow-us-text-footer {
  margin-bottom: 0.4rem;
}

.quick-links-footer,
.follow-us-link-footer {
  text-decoration: none;
  color: rgb(173, 173, 173);
}

/* tablet and up*/
@media (min-width: 768px) {
  /* footer */
  footer {
    font-size: 1.2rem;
  }
}

/* desktop */
@media (min-width: 1024px) {
  /* footer */
  footer {
    padding: 2rem 0;
  }

  .logo-footer {
    font-size: 2.8rem;
  }
}